<div class="center hero-unit">
  <h1>Sundays</h1>

  <h2>
   With Adeeb and Brian
  </h2>

  <h3>It's Coming .... </h3>

  <h2>SOON</h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>

